.Signupbody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.signcelebstudio{
  padding: 10px;
  margin-top: 1vh;
  margin-bottom: 2vh;
  font-family: 'Oswald';
  font-size: 5em;
  text-align: center;
}

.signupContainer{
  position: relative;
  align-self: center;
  margin-top: 6vh;
  width: 100%;
  background-color: aliceblue;
  border-radius: 1vh;
  min-height: 500px;
  text-align: center;
  padding: 15px;
}

.signupContainer > hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.signupContainer > h1 {
    text-decoration: double;
    font-family: 'Inter';
    font-size: xx-large;
}

.signupDesc{
    font-size:x-large;
    text-decoration:solid;
    margin-bottom:15px;
}

.switch{
  font-size: larger;
}

.continueAs{
    font-size: larger;
    margin-bottom: 0;
    margin-bottom: 10px;
}



  .signupContainer > button {
    margin-top: 20px;
  }
  
 

  
  
  
 
  
  
  
 
 
 
.loginInput{
  width: 35%;
  padding: 12px;
  border: 1px solid #0c6dff;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 5px;
}

.button{
  margin-top: 5px;
  border-radius:5px ;
  border:2.5px solid;
  height:28px;
}

.button:hover{
  color:#0fb7f4;
  border:2.5px solid #0fb7f4;
  background-color: black;
}

@media screen and (max-width: 500px) {

  .Signupbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
  }
.signcelebstudio{
  font-size: 3em;
}
.signupContainer {
    width: 90%;
    margin-top: 0;
    min-height: 550px;
    padding-bottom: 15px;
  }

  .loginInput{
    width: 70%;
  }
}
