.createcampaign{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.BDnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    position: fixed;
    font-size: 3em;
}


.BDnav :first-child{
    padding-left:20px ;
}

.BDnav :last-child{
    padding-right: 20px;
}


.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:10%;
    min-width: 100px;
    height: 100vh;
    background-color: #1c4e80;
}

.navbar > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    text-decoration: double;
    text-decoration: double;
    height: 18%;
    width: 90%;
    border-radius: 3px;
}

.navbar :first-child{
    margin-top: 10px;
}


.navbar > *:hover{
    background-color: rgba(91, 162, 225, 0.386);
    font-size: x-large;
}

.CCcontainer{
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-top: 70px;
    width: 100vw;
    background-color: #a5d8dd;
}

.createCamp{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    width: 100%;
    height: 90vh;
}

.createCamp > form{
    margin-top: 20px;
    width: 40%;
}

label{
    width: 30%;
    min-width: 200px;
    padding:10px;
}

select{
    width: 345px;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}

.buttonC{
    display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  border-radius:5px ;
  height:28px;
  padding: 5px;
}

.buttonC > button{
    width: 100px;
    text-decoration: double;
    font-size: larger;   
}




@media screen and (max-width:1400px) {

    .navbar{
        width: 20px;
    }

    .navbar > *{
        height: 15vh;
    }

    .navbar > *:hover{
        font-size: large;
    }

   
    
}

@media screen and (max-width:501px) {
    .BDnav:first-child{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: x-large;
        padding-left: 0;
    }

    .createCamp{
        position: fixed;
        display: flex;
        flex-direction: center;
        height: 80vh;
    }

    .createCamp > form {
        width: 90%;
        height: 70vh;
        padding:5px;
        padding-top: 0px;
        overflow-y: scroll;
    }

    select,input[type=date]{
        height: 40px;
    }


    
}